@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro-Regular'),
       local('Source Sans Pro Regular'),
       local('Source Sans Pro'),
       url('/fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'),
       url('/fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
       url('/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
       font-weight: $fw-norm;
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro-Bold'),
       local('Source Sans Pro Bold'),
       url('/fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2'),
       url('/fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
       url('/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
       font-weight: $fw-bold;
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'),
       url('/fonts/Oswald/Oswald.ttf') format('truetype');
       font-weight: $fw-medium;
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'),
       url('/fonts/Oswald/Oswald.ttf') format('truetype');
       font-weight: $fw-norm;
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'),
       url('/fonts/Oswald/Oswald.ttf') format('truetype');
       font-weight: $fw-light;
       font-style: normal;
       font-display: swap;
}