.bold{
  font-weight: $fw-bold;
}

.nowrap{
  white-space: nowrap;
}

.hidden{
  display: none;
}

.scroll-stop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.body-stop{
  overflow: hidden;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.br{
  display: block;
}

a{
  outline-color: $c-main-red;
}
