.swiper-pagination{
  display: flex;
  justify-content: center;
  padding-top: 20px;

  .swiper-pagination-bullet {
    height: 4px;
    background-color: #546e7a;
    width: 100%;
    max-width: 100px;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

    &.swiper-pagination-bullet-active{
      background-color: $c-main-red;
    }
  }
}