.vue-select {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 1px;
  background-color: #ECEFF1;

  &:hover{
    border: 1px solid #CFD8DC;
  }

  &.vs--open{
    border: 1px solid #90A4AE;
  }

  .vs__dropdown-toggle {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
  }

  .vs__actions {
    display: none;
  }

  .vs__search {
    margin: 0;
    padding: 0 40px 0 20px;
    height: 100%;
    color: #546e7a;
    border: none;
  }

  .vs__selected-options {
    padding: 0;
  }

  .vs__selected {
    margin: 0;
    height: 100%;
    padding: 0 40px 0 20px;
    color: #546e7a;
    border-radius: 3px;
  }

  // ВЫПОДАЮЩИЙ БЛОК
  .vs__dropdown-menu{
    top: calc(100% + 5px);
    padding: 0;
    border: 1px solid #90a4ae;
    border-radius: 3px;
  }

  // ЭЛЕМЕНТЫ ВЫПАДАЮЩЕГО БЛОКА
  .vs__dropdown-option{
    color: #546e7a;
    padding-top: 10px;
    padding-bottom: 10px;

    &--highlight{
      background-color: #eceff1;
    }

    &:hover{
      background-color: #eceff1;
    }
  }

  @media all and (max-width: 550px) {
    font-size: 16px;
  }
}