.contacts {
  overflow: hidden;

  &__wrapper {
    padding: 100px $hor-indent-b 50px;
    max-width: $max-width;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info-wrap {
    font-style: normal;
  }

  &__conditions {
    flex-shrink: 0;
  }

  &__conditions-text {
    margin-top: 30px;
    max-width: 320px;
  }

  &__call-link-wrapper {
    margin-top: 80px;
  }

  &__call-link {
    margin-top: 8px;
    display: inline-block;
    font-size: 32px;
    font-family: Oswald, sans-serif;
    color: $c-title;
  }

  &__address {
    margin-top: 30px;
  }

  &__address-info {
  }

  &__address-text-link {}

  &__question-wrapper {
    position: relative;
    display: flex;
    margin-left: 30px;
    max-width: 1000px;
    width: 100%;
    background: $c-main-dark-blue;
    padding: 60px 70px;
    min-height: 600px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 200vh;
      background: $c-main-dark-blue;
      width: 100vw;
    }
  }

  @media all and (max-width: 1200px) {
    &__wrapper {
      padding: 75px $hor-indent-n 80px;
    }

    &__question-wrapper {
      flex-direction: column;
      height: auto;
    }
  }

  @media all and (max-width: 880px) {
    &__wrapper {
      padding: 75px $hor-indent-n 0;
    }

    &__inner {
      flex-wrap: wrap;
    }

    &__question-wrapper {
      margin: 40px 0 0 0;
    }

    &__call-link-wrapper {
      margin-top: 20px;
    }

    &__call-title {
      margin-top: 0;
    }

    &__question {
      margin: 30px 0 0;
    }

    &__conditions-text {
      max-width: 500px;
    }

    &__items {
      margin: 30px 0 0;
    }

    &__items-inner {
      width: 100%;
      flex-direction: column;
    }
  }

  @media all and (max-width: 810px) {
    &__wrapper {
      padding: 45px $hor-indent-n 0;
    }
  }

  @media all and (max-width: 550px) {
    &__wrapper {
      padding: 25px 0 0;
    }

    &__conditions {
      padding: 0 20px;
      flex-shrink: 1;
    }

    &__conditions-text {
      margin-top: 15px;
    }

    &__conditions-list {
      margin-top: 15px;
    }

    &__question {
      margin-top: 15px;
    }

    &__question-wrapper {
      padding: 30px 30px;
    }

    &__items {
      margin-top: 15px;
    }

    &__call-title ~ &__call-title {
      margin-top: 15px;
    }

    &__address {
      margin-top: 15px;
    }

    &__mail {
      margin-top: 15px;
    }

    &__social-items {
      margin-top: 15px;
    }

    &__items {
      margin-left: 20px;
    }
  }

  @media all and (max-width: 550px) {
    &__conditions-text{
      margin-top: -5px;
      margin-left: 120px;
    }
  }

  @media all and (max-width: 400px) {
    &__items-inner {
      flex-direction: column;
    }

    &__call {
      width: 100%;
    }
  }
}
