.field{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &.is-open{
    .field{
      &__label{
        bottom: 100%;
        font-size: 14px;
      }

      &__input{
        caret-color: $c-main-red;
      }

      &__input-bg{
        top: 0;
      }
    }
  }

  &__label{
    position: absolute;
    font-size: 18px;
    bottom: 5px;
    transition: .3s;
    z-index: 3;
  }

  &__input{
    width: 100%;
    height: 40px;
    font-size: 18px;
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    z-index: 4;
    caret-color: transparent;
    transition: .1s .3s;

    &--textarea{
      position: relative;
      z-index: 5;
      height: 80px;
      resize: none;
    }
  }

  &__input-bg {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transition: .3s;
    z-index: 2;
  }

  &__error{
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -20px;
    display: none;

    &.is-show{
      display: block;
    }
  }
}