.ham{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #37474F;
  margin-right: 10px;
  outline: none;
  cursor: pointer;

  &__inner{
    position: relative;
    width: 20px;
    height: 3px;
    background-color: #fff;

    &::before, &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: #fff;
    }

    &::before{
      transform: translateY(6px);
    }

    &::after{
      transform: translateY(-6px);
    }
  }
}