.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  margin-left: 40px;

  &__col-1{}

  &__text{
    font-size: 14px;
    color: #90A4AE;

    &--contacts{
      margin-right: 60px;
    }
  }

  &__text-mob {
    display: none;
  }

  &__logo-wrap{
    display: none;
  }

  &__col-2{}

  &__col-2-desk{
    display: flex;
    align-items: center;
  }

  &__tel{
    font-size: 18px;
    margin-right: 30px;
  }

  &__soc-list{
    display: flex;
  }

  &__soc-item{
    & + &{
      margin-left: 20px;
    }
  }

  &__soc-link{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 30px 30px;
    
    &--wpp{
      background-image: url('~assets/img/whatsapp.svg');
    }

    &--tg{
      background-image: url('~assets/img/telegram.svg');
    }
  }

  &__ham{
    display: none;
  }

  @media all and (max-width: 1300px){
    margin-left: 0;
  }

  @media all and (max-width: 1050px){
    &__text{
      &--contacts{
        margin-right: 45px;
      }
    }
  }

  @media all and (max-width: 1020px){
    &__text{
      display: none;
    }

    &__col-2-desk{
      display: none;
    }

    &__logo-wrap{
      display: block;
      width: 75px;
      font-size: 0;
    }

    &__text-mob{
      display: block;
      color: #90A4AE;
      text-transform: uppercase;
      line-height: 1.2;
      font-family: $oswald;
      margin-left: 20px;
      font-size: 14px;
    }

    &__col-1{
      display: flex;
      align-items: center;
    }

    &__ham{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media all and (max-width: 550px){
    &__text-mob{
      font-size: 9px;
      line-height: 1.5;
    }
  }
}