.mobile-menu{
  display: none;

  &.is-open{
    .mobile-menu{
      &__wrap{
        transform: translate3d(-100%, 0, 0);
      }

      &__bg{
        z-index: 900;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    transition: 0.5s;
    z-index: -200;
  }

  &__wrap{
    position: fixed;
    top: 0;
    right: -300px;
    min-height: 100vh;
    max-height: 100%;
    width: 300px;
    background-color: #fff;
    transition: 0.5s;
    z-index: 1000;
    overflow-y: auto;
    padding-bottom: 50px;
  }

  &__inner{
    padding-left: 40px;
  }

  &__btn-close{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0 auto;
    width: 60px;
    height: 60px;
    cursor: pointer;
    outline: none;

    &::before,
    &::after{
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background-color: #CFD8DC;
    }

    &::after{
      transform: rotate(45deg);
    }

    &::before{
      transform: rotate(-45deg);
    }
  }

  &__list{
    margin-top: 10px;
  }

  &__item{
    & + &{
      margin-top: 27px;
    }
  }

  &__link{
    font-size: 18px;
  }

  &__inst-block{
    position: relative;
    margin-top: 45px;
    display: flex;
    align-items: center;
  }

  &__inst-link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__inst-logo{}

  &__inst-text{
    max-width: 160px;
    margin-left: 20px;
    font-size: 14px;

    &--red{
      color: @c-main-red;
    }
  }

  &__contacts{
    margin-top: 30px;
    font-family: @oswald;
    font-size: 18px;
  }

  &__contacts-text{}

  &__contacts-tel{}

  &__soc-list{
    margin-top: 10px;
    display: flex;
  }

  &__soc-item{
    & + &{
      margin-left: 10px;
    }
  }

  &__soc-link{
    display: block;
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &--wpp{
      background-image: url('~assets/img/main-wpp.svg');
    }

    &--tg{
      background-image: url('~assets/img/main-tg.svg');
    }

    &--phone{
      background-image: url('~assets/img/phone-call.svg');
    }
  }

  @media all and (max-width: 1024px) {
    display: block;
  }
}
