.promo-card{
  position: relative;
  padding-left: 0;
  z-index: 1;

  &::before{
    content: '';
    position: absolute;
    top: -100px;
    left: 35%;
    bottom: -100px;
    width: 100vw;
    background-color: #B0BEC5;
    z-index: -1;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 720px;
    margin-left: auto;
  }

  &__item{
    width: 49%;
    padding-bottom: 2%;
  }

  &__inner{
    background-color: #fff;
    height: 100%;
  }

  .slick-slide{
    & > div {
      display: flex;
    }
  }

  &__content{
    padding: 20px 30px 30px;
    min-height: 350px;
  }

  &__title{
  }

  &__img-wrap{
    margin-top: 15px;
    max-width: 150px;
    font-size: 0;
  }

  &__img{}

  &__text{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.2;
  }

  @media all and (max-width: 1200px){
    &::before{
      top: -70px;
      bottom: -70px;
    }
  }

  @media all and (max-width: 1020px){
    &::before{
      display: none;
    }

    &__list{
      margin-top: 50px;
      max-width: none;
    }

    &__item{}
  }

  @media all and (max-width: 550px){
    &__item{
      width: 100%;
    }

    &__text{
      font-size: 14px;
    }

    &__img-wrap{
      width: 100px;
    }

    &__content{
      min-height: auto;
    }
  }
}