.promo-block{
  display: none;
  width: calc(100% + 60px);
  margin-left: -30px;
  padding: 30px 20px;
  background-color: #222C2E;
  background-image: url('~assets/img/promo-block.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto 100%;
  
  &__wrap{
    display: flex;
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
  }

  &__col-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
  }

  &__discount{
    font-size: 48px;
    color: #fff;
    font-family: $oswald;
    line-height: 1;
  }

  &__discount-date{
    margin-top: 20px;
    color: #fff;
    font-size: 12px;
    background-color: $c-main-red;
    padding: 2px 5px;
    margin-left: 14px;
  }
  
  &__col-2{}

  &__title{
    padding-left: 15px;
    color: #fff;
    font-size: 18px;
  }

  &__list{
    margin-top: 15px;
  }

  &__item{
    position: relative;
    padding-left: 15px;
    font-size: 12px;
    color: #B0BEC5;

    &:before{
      content: '—';
      position: absolute;
      left: 0;
      color: #FE3D6C;
    }

    & + &{
      margin-top: 3px;
    }
  }

  @media all and (max-width: 1100px){
    display: block;
  }

  @media all and (max-width: 550px) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}