.question-form{
  color: #ffffff;
  max-width: 400px;
  width: 100%;
  min-width: 310px;

  &__block{
    transition: 0.5s;

    &.is-hide{
      transform: translate3d(0, -100%, 0);
      opacity: 0;
    }
  }

  &__title{
    font-size: 48px;
    font-weight: $fw-norm;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;

    &--success{
      position: absolute;
      max-width: 400px;
      opacity: 0;
      transition: 0.5s 0.5s;
      transform: translate3d(0, -100%, 0);

      &.is-visible{
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &__button{
    margin: 60px 0 0;
  }

  &__field{
    margin-top: 23px;

    & + &{
      margin-top: 30px;
    }
  }

  &__text{
    margin: 20px auto 0;
    max-width: 325px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  }

  &__social-wrap{
    margin-left: 10%;
  }

  &__social-items{
    margin-top: 25px;
    display: flex;
  }

  &__social-item{
    & + &{
      margin-left: 20px;
    }
  }

  &__social-item-link{
    display: block;
    width: 70px;
    height: 70px;
    background-size: cover;

    &--tg{
      background-image: url("~assets/img/telegram.svg");
    }

    &--wp{
      background-image: url("~assets/img/whatsapp.svg");
    }

    &--inst{
      background-image: url("~assets/img/instagram.svg");
    }
  }
}

@media all and (max-width: 1200px){
  .question-form{
    &__social-wrap{
      margin-left: 0;
    }

    &__social-items{
      max-width: 400px;
      justify-content: center;
    }

    &__text{
      max-width: 400px;
      text-align: center;
      margin: 20px 0 0 0;
    }

    &__button{
      margin: 60px 0 0 auto;
    }
  }
}

@media all and (max-width: 550px){
  .question-form{
    width: 100%;
    min-width: auto;

    &__title{
      font-size: 32px;
    }
  }
}

@media all and (max-width: 525px){
  .question-form{
    margin-left: 0;
    max-width: 100%;

    &__text{
      margin-top: 10px;
    }

    &__social-items{
      margin-top: 20px;
    }

    &__social-item-link{
      width: 50px;
      height: 50px;
    }

    &__button {
      margin-top: 25px;
    }
  }
}
