.quiz-menu{
  position: relative;
  background-color: #263238;
  padding-bottom: 50px;

  &::before{
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: #263238;
  }
  
  &__row-1{
    display: flex;
    align-items: center;
  }

  &__logo-wrap{

  }

  &__logo{}

  &__logo-text{
    margin-left: 40px;
    font-size: 12px;
    line-height: 1.5;
    font-family: $oswald;
    color: #90A4AE;
    text-transform: uppercase;
  }

  &__row-2{}

  &__text-wrap{
    margin-top: 45px;
    margin-left: 35px;
  }

  &__title{
    color: #fff;
  }

  &__text{
    max-width: 310px;
    margin-top: 30px;
    font-size: 18px;
    color: #B0BEC5;
  }

  @media all and (max-width: 1250px) {
    &__text-wrap{
      margin-left: 30px;
    }

    &__text{
      max-width: 270px;
      font-size: 14px;
    }
  }
}