.quiz{
  overflow: hidden;

  &__wrap{
    padding: 0;
    display: flex;
  }

  &__title-block{
    display: none;
  }

  &__col-1{
    width: 450px;
    flex-shrink: 0;
    min-height: 100vh
  }

  &__col-2{
    width: calc(100% - 450px);
  }

  @media all and (max-width: 1250px) {
    &__col-1{
      width: 350px;
    }

    &__col-2{
      width: calc(100% - 350px);
    }
  }

  @media all and (max-width: 1020px) {
    &__wrap{
      flex-direction: column;
    }

    &__title-block{
      display: block;
    }

    &__col-1{
      display: none;
    }

    &__col-2{
      width: 100%;
    }

    &__title{
      margin: 50px 40px 20px;
      color: #fff;
    }

    &__title-block{
      background-color: $c-main-dark-blue;
    }
  }

  @media all and (max-width: 700px) {
    &__title{
      margin: 50px 15px 20px;
    }
  }
}