.recommendation{
  margin-top: 100px;
  padding: 100px 0;
  background-color: $c-main-dark-blue;

  &__wrap{}

  &__title{
    text-align: center;
    color: #fff;
  }

  &__container{
    position: relative;
    max-width: 1200px;
    min-height: 500px;
    height: 100%;
    margin: 60px auto 0;
    padding: 0 100px;

    &:hover{
      .recommendation{
        &__btn{
          opacity: 1;
        }
      }
    }
  }

  &__btn{
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100px;
    background-color: $c-main-red;
    cursor: pointer;
    outline: none;
    z-index: 1;
    transition: 0.2s;

    &:hover{
      background-color: #FF3E6E;
    }

    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 22px;
      top: 50%;
      left: 50%;
      background-size: 24px 22px;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }

    &--prev{
      left: 0;

      &::before{
        background-image: url('~assets/img/arrow-l.svg');
      }
    }

    &--next{
      right: 0;

      &::before{
        background-image: url('~assets/img/arrow-r.svg');
      }
    }
  }

  &__slider{
    max-width: 1000px;
    width: 100%;
    justify-content: center;
    background-color: #fff;
  }

  &__slide{
    display: flex!important;
  }

  &__col-1{
    width: 50%;
  }

  &__img-wrap{
    min-height: 500px;
  }

  &__img{}

  &__col-2{
    box-sizing: border-box;
    width: 50%;
    padding: 40px 50px 50px;
  }

  &__pagination{
    max-width: 1000px;
    margin: 0 auto;
  }

  @media all and (max-width: 1023px) {
    &__container{
      padding: 0;
    }

    &__btn{
      display: none!important;
    }
  }

  @media all and (max-width: 800px) {
    margin-top: 70px;
    padding: 70px 0;

    &__container{
      margin-top: 50px;
      max-width: 500px;
    }

    &__slide{
      flex-direction: column;
    }

    &__col-1{
      width: 100%;
    }

    &__col-2{
      padding: 20px 20px 50px;
      width: 100%;
    }

    &__img-wrap{
      position: relative;
      padding-bottom: 100%;
      min-height: auto;
    }
  }

  @media all and (max-width: 550px) {
    margin-top: 40px;
    padding: 40px 0 60px;

    &__container{
      margin-top: 40px;
    }
  }
}