.recommendation-text{
  &__title{}

  &__link{
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    color: $c-main-red;
  }

  &__text{
    margin-top: 30px;
    font-size: 20px;
  }

  @media all and (max-width: 800px) {
    &__title{
      br{
        display: none;
      }
    }
  }

  @media all and (max-width: 550px) {
    &__link{
      margin-top: 5px;
      font-size: 14px;
    }

    &__text{
      margin-top: 20px;
      font-size: 18px;
    }
  }
}