.sticky{
  position: fixed;
  background-color: #222B2F;
  z-index: 100;
  width: 100%;
  padding-right: 10px;
  transform: translateY(-100%);
  transition: 0.3s;

  &.is-open{
    transform: translateY(0);
  }

  &__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__col-1{
    display: flex;
    align-items: center;
  }

  &__logo-wrap{
    font-size: 0;
    max-width: 100px;
  }

  &__logo{}

  &__nav{
    display: flex;
    margin-left: 50px;
  }

  &__nav-item{
    & + &{
      margin-left: 32px;
    }
  }

  &__nav-link{}

  &__col-2{
    display: flex;
    align-items: center;
  }

  &__text{
    font-size: 14px;
    color: #90A4AE;
    text-transform: uppercase;
    font-family: $oswald;
  }

  &__tel{
    margin-left: 30px;
    color: #fff;
    font-size: 18px;
    font-family: $oswald;
    text-transform: uppercase;
  }

  &__soc{
    display: flex;
  }

  &__soc-item{
    margin-left: 10px;
  }

  &__soc-link{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 30px 30px;

    &--wpp{
      background-image: url('~assets/img/whatsapp.svg');
    }

    &--tg{
      background-image: url('~assets/img/telegram.svg');
    }
  }

  @media all and (max-width: 1300px) {
    display: none;
  }
}