.title-menu{
  position: relative;
  background-color: #ECEFF1;
  width: 300px;
  flex-shrink: 0;
  height: 100%;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100vw;
    background-color: #ECEFF1;
  }

  &::before{
    content: '';
    position: absolute;
    right: 0;
    left: 100%;
    height: 100%;
    width: 230px;
    background-color: #ECEFF1;
  }

  &__logo-wrap{
    font-size: 0;
    max-width: 150px;
  }

  &__img{}

  &__list{
    margin-top: 60px;
    margin-left: 55px;
  }

  &__item{
    & + &{
      margin-top: 14px;
    }
  }

  &__link{
    text-transform: uppercase;
    color: #546E7A;
    font-size: 18px;
    outline: none;
    transition: 0.1s;

    &:hover{
      color: #EA3965;
    }

    &:active, &:focus{
      color: $c-main-red;
    }
  }

  &__inst-wrap{
    position: relative;
    margin-top: 155px;
    margin-left: 55px;
    max-width: 160px;
  }

  &__inst-link{
    position: absolute;
    outline: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__inst-img{}

  &__inst-text{
    margin-top: 15px;
    font-size: 14px;
    font-family: $source-sans-pro;

    &--red{
      color: #CC0033;
    }
  }

  @media all and (max-width: 1200px){
    width: 250px;

    &::before{
      width: 180px;
    }

    &__list{
      margin-left: 35px;
    }

    &__inst-wrap{
      margin-left: 35px;
    }
  }
}