.title-block{
  font-family: $oswald;
  overflow: hidden;

  &__wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1480px;
    margin: 0 auto;
    height: 900px;
  }

  &__col-1{}

  &__col-2{
    width: 100%;
    position: relative;
    background-color: #263238;
    height: 800px;
    padding: 0 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    //&::before{
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: 100%;
    //  height: 100%;
    //  width: 100vw;
    //  background-color: #263238;
    //}
  }

  &__col-2-wrap{
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    padding: 65px 0 0;
  }

  &__header{}

  &__text-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 500px;
    height: 490px;
    margin-top: 105px;
    margin-left: 40px;
  }

  &__title{
    font-weight: $fw-norm;
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    line-height: 1.5;
  }

  &__text{
    max-width: 400px;
    margin-top: 60px;
    font-size: 18px;
    font-family: $source-sans-pro;
    color: #CFD8DC;
  }

  &__arrow-wrap{
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
  }

  &__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  &__video-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__arrow{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $c-main-red;
    
    &::before{
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url('~assets/img/arrow-b.svg');
      background-size: 16px 16px;
      background-position: center 45%;
      background-repeat: no-repeat;
    }
  }

  &__arrow-text{
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 20px;
  }

  &__banner{
    position: absolute;
    right: 0;
    bottom: -210px;
    width: 400px;
    height: 500px;
    background-image: url('~assets/img/title-banner.jpg');
    background-color: $c-main-dark-blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px;
  }

  &__banner-title{
    font-size: 64px;
    color: #fff;
  }

  &__banner-subtitle{
    margin-top: 85px;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
  }

  &__banner-list{
    margin-top: 20px;
  }

  &__banner-item{
    position: relative;
    padding-left: 20px;
    color: #B0BEC5;
    font-size: 16px;
    font-family: $source-sans-pro;

    & + &{
      margin-top: 4px;
    }

    &::before{
      content: '—';
      position: absolute;
      color: #FE3D6C;
      left: 0;
    }
  }

  @media all and (max-width: 1300px){
    &__text-wrap{
      margin-left: 0;
    }
  }

  @media all and (max-width: 1100px){
    &__banner{
      display: none;
    }
  }

  @media all and (max-width: 1020px){
    &__wrap{
      height: auto;
    }

    &__col-1{
      display: none;
    }
    &__col-2{
      padding: 0 0 90px;
      height: auto;
    }

    &__col-2-wrap{
      padding-top: 0;
      max-width: 100%;
    }

    &__text-wrap{
      margin-top: 60px;
      margin-left: 60px;
      height: auto;
    }

    &__text{
      margin-top: 45px;
    }

    &__arrow-wrap{
      margin-top: 60px;
    }
  }

  @media all and (max-width: 800px){
    &__title{
      font-size: 40px;
    }

    &__text{
      font-size: 16px;
      max-width: 350px;
    }
  }

  @media all and (max-width: 550px){
    &__title{
      font-size: 34px;
    }

    &__text{
      margin-top: 20px;
      font-size: 16px;
      max-width: 300px;
    }

    &__col-2{
      padding-bottom: 40px;
    }

    &__text-wrap{
      margin-top: 80px;
      margin-left: 35px;
      padding-right: 35px;
    }

    &__arrow-wrap{
      display: none;
    }
  }

  @media all and (max-width: 350px) {
    &__title{
      font-size: 30px;
    }
  }
}