<template>
  <header class="header">
    <div class="header__col-1">
      <div class="header__logo-wrap">
        <img class="header__logo" src="~assets/img/logo.svg" alt="logo goBig">
      </div>
      <p class="header__text">веб-разработка, интернет-реклама, маркетинг</p>
      <p class="header__text-mob">веб-разработка <br> интернет-реклама <br> маркетинг</p>
    </div>
    <div class="header__col-2">
      <div class="header__col-2-desk">
        <p class="header__text header__text--contacts">свяжитесь с нами</p>
        <a :href="`tel:contacts.tel`" class="header__tel link link--white">{{contacts.tel}}</a>
        <ul class="header__soc-list">
          <li class="header__soc-item">
            <a :href="`https://t.me/${contacts.telegram}`" class="header__soc-link header__soc-link--tg" target="_blank"></a>
          </li>
          <li class="header__soc-item">
            <a :href="`https://api.whatsapp.com/send?phone=${contacts.whatsapp}`" class="header__soc-link header__soc-link--wpp" target="_blank"></a>
          </li>
        </ul>
      </div>
      <button class="header__ham ham">
        <span class="ham__inner"></span>
      </button>
    </div>
  </header>
</template>

<script>
  export default {
    props: {
        contacts: Object
    }
  }
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/components/header.scss";
  @import "@/assets/scss/components/ham.scss";
</style>