<template>
  <section id="marketing" class="main__template template">
    <div class="template__wrap container">
      <div class="template__row-1">
        <div class="template__col-1">
          <h2 class="template__title title title--l1 title--decoration" v-html="marketing.title"></h2>
          <p class="template__text" v-html="marketing.text"></p>
          <div class="template__banner banner">
            <h3 class="banner__title title">УСЛУГИ</h3>
            <ul class="banner__list">
              <li class="banner__item" v-for="item in marketing.services">{{item}}</li>
            </ul>
          </div>
          <div class="template__option-2">
            <nuxt-link to="/quiz" no-prefetch class="template__option-2-link link link--red">обсудить проект</nuxt-link>
          </div>
        </div>
        <div class="template__col-2 gallery">
          <ul class="gallery__list">
            <li class="gallery__item" v-for="item in marketing.products">
              <div class="gallery__img-wrap adaptive-img__wrap">
                <img :src="item.img" :alt="`marketing-project-${item.id}`"
                     class="gallery__img adaptive-img">
              </div>
              <p class="gallery__text" v-html="item.text"></p>
              <a :href="item.url" v-if="item.url" class="link link--wrap" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        props: {
            marketing: Object
        }
    };
</script>

<style scoped>

</style>