<template>
  <section id="promotion" class="main__template template template--dark">
    <div class="template__wrap container">
      <div class="template__row-1">
        <div class="template__col-1">
          <h2 class="template__title title title--l1 title--decoration" v-html="promotion.title"></h2>
          <p class="template__text" v-html="promotion.text"></p>
          <div class="template__banner banner banner--dark">
            <h3 class="banner__title title">УСЛУГИ</h3>
            <ul class="banner__list">
              <li class="banner__item" v-for="item in promotion.banner">{{item}}</li>
            </ul>
          </div>
          <div class="template__option-2">
            <nuxt-link to="/quiz" no-prefetch class="template__option-2-link link link--red">обсудить проект</nuxt-link>
          </div>
        </div>
        <div class="template__col-2">
          <ul class="promo-card__list">
            <li class="promo-card__item" v-for="(item, index) in promotion.products">
              <div class="promo-card__inner">
                <div class="promo-card__content">
                  <h3 class="promo-card__title title title--l2">{{item.title}}</h3>
                  <div class="promo-card__img-wrap">
                    <img :src="item.img" :alt="`promotion-slide-${index}`" class="promo-card__img">
                  </div>
                  <p class="promo-card__text">{{item.text}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="template__row-2 services services--dark">
        <h2 class="services__title title title--l2">В стоимость входит</h2>
        <ul class="services__list">
          <li class="services__item" v-for="item in promotion.services">
            <img src="~assets/img/check-mark.svg" alt=" " class="services__img">
            <h3 class="services__item-title title" v-html="item.title"></h3>
            <p class="services__item-text">{{item.text}}</p>
          </li>
        </ul>
      </div>
      <div class="template__discuss">
        <nuxt-link to="/quiz" no-prefetch class="template__discuss-link link link--red">обсудить проект</nuxt-link>
        <p class="template__discuss-text">
          После обсуждения, мы составим рабочее предложение и смету проекта
        </p>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        props: {
            promotion: Object
        }
    };
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/components/promo-card";
</style>