<template>
  <section id="recommendations" class="main__recommendation recommendation">
    <div class="recommendation__wrap container">
      <h2 class="recommendation__title title title--l1 title--decoration title--decoration-center" v-html="recommendation.title"></h2>
      <div class="recommendation__container">
        <button id="slider-recommendation-prev" class="recommendation__btn recommendation__btn--prev"></button>
        <div v-swiper="sliderRecommendationOptions" class="recommendation__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide recommendation__slide"
                 v-for="(item, index) in recommendation.reviews">
              <div class="recommendation__col-1">
                <div class="recommendation__img-wrap adaptive-img__wrap">
                  <img class="recommendation__img adaptive-img"
                       :src="item.img" :alt="`recommendation-slide-${index}`">
                </div>
              </div>
              <div class="recommendation__col-2 recommendation-text">
                <p class="recommendation-text__title title title--l2" v-html="item.name"></p>
                <a :href="item.title_link" v-if="item.title_link"
                   class="recommendation-text__link title link link--red">
                  {{item.title}}
                </a>
                <p v-else
                   class="recommendation-text__link title link link--red">
                  {{item.title}}
                </p>
                <div class="recommendation-text__text">{{item.text}}</div>
              </div>
            </div>
          </div>
        </div>
        <button id="slider-recommendation-next" class="recommendation__btn recommendation__btn--next"></button>
      </div>
      <div class="slider-recommendation-pagination recommendation__pagination swiper-pagination"></div>
    </div>
  </section>
</template>

<script>
    export default {
        props: {
          recommendation: Object
        },
        data () {
            return {
                sliderRecommendationOptions: {
                    loop: true,
                    touch: true,
                    pagination: {
                        el: '.slider-recommendation-pagination',
                        clickable: true
                    },
                    navigation: {
                        nextEl: '#slider-recommendation-next',
                        prevEl: '#slider-recommendation-prev'
                    },
                }
            };
        },
        methods: {

        }
    };
</script>

<style lang="scss">
  @import "@/assets/scss/components/recommendation";
  @import "@/assets/scss/components/recommendation-text";
</style>