<template>
  <section id="title-block" class="main__title-block title-block">
    <div class="title-block__wrap">
      <div class="title-block__col-1 title-menu">
        <div class="title-menu__logo-wrap">
          <nuxt-link to="/" no-prefetch>
            <img class="title-menu__img" src="~assets/img/logo.svg" alt="logo goBig">
          </nuxt-link>
        </div>
        <ul class="title-menu__list">
          <li class="title-menu__item">
            <a href="#" v-scroll-to="'#development'" class="title-menu__link">Разработка сайтов</a>
          </li>
          <li class="title-menu__item">
            <a href="#" v-scroll-to="'#promotion'" class="title-menu__link">Интернет-реклама</a>
          </li>
          <li class="title-menu__item">
            <a href="#" v-scroll-to="'#marketing'" class="title-menu__link">Маркетинг</a>
          </li>
          <li class="title-menu__item">
            <a href="#" v-scroll-to="'#recommendations'" class="title-menu__link">Рекомендации</a>
          </li>
        </ul>
        <div class="title-menu__inst-wrap">
          <a :href="contacts.instagram" class="title-menu__inst-link" target="_blank"></a>
          <img src="~assets/img/inst.svg" alt="instagram icon" class="title-menu__inst-img">
          <p class="title-menu__inst-text">
            В нашем <span class="title-menu__inst-text--red">Инстаграме</span>
            подробности проектов,
            кейсы и полезные статьи
          </p>
        </div>
      </div>
      <div class="title-block__col-2">
        <video class="title-block__video" src="/files/title-block-video.mov" autoplay loop muted playsinline></video>
        <div class="title-block__video-bg"></div>
        <div class="title-block__col-2-wrap">
          <app-header :contacts="contacts"/>
          <div class="title-block__text-wrap">
            <div class="title-block__text-inner">
              <h1 class="title-block__title">РЕШАЕМ ПРОБЛЕМЫ <br> БИЗНЕСА В ОНЛАЙНЕ</h1>
              <p class="title-block__text">
                Поможем привлечь клиентов и повторные продажи, выстроить маркетинг и рабочие процессы. Специализируемся на разработке сайтов, интернет-рекламе и маркетинге.
              </p>
            </div>
            <a href="#" v-scroll-to="'#development'" class="title-block__arrow-wrap">
              <span class="title-block__arrow"></span>
              <span class="title-block__arrow-text">разработка сайтов</span>
            </a>
          </div>
          <div class="title-block__banner">
            <p class="title-block__banner-title title">–15%</p>
            <p class="title-block__banner-subtitle title">на ПОЛНЫЙ комплекс по запуску сайта</p>
            <ul class="title-block__banner-list">
              <li class="title-block__banner-item">Разработка сайта и воронки продаж</li>
              <li class="title-block__banner-item">Дизайн баннеров в соцсети и КМС</li>
              <li class="title-block__banner-item">Настройка и запуск рекламы</li>
              <li class="title-block__banner-item">Процессы обработки заявок</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import appHeader from '@/components/Header'

  export default {
      props: {
          contacts: Object
      },
      components: {
        appHeader,
      },
      data: () => ({
          users: []
      }),
  }
</script>

<style lang="scss" scoped>
  @import '@/assets/scss/components/title-block.scss';
  @import '@/assets/scss/components/title-menu.scss';
</style>
