<template>
  <section id="development" class="main__template template">
    <div class="template__wrap container">
      <div class="template__row-1">
        <div class="template__col-1">
          <h2 class="template__title title title--l1 title--decoration" v-html="development.title"></h2>
          <p class="template__text" v-html="development.text"></p>
          <div class="template__option-2">
            <nuxt-link to="quiz" no-prefetch class="template__option-2-link link link--red">обсудить проект</nuxt-link>
          </div>
        </div>
        <div class="template__col-2 gallery">
          <ul class="gallery__list">
            <li class="gallery__item" v-for="item in development.products">
              <div class="gallery__img-wrap adaptive-img__wrap">
                <img :src="item.img" alt=" "
                     class="gallery__img adaptive-img">
                <p class="gallery__img-text">{{item.title}}</p>
              </div>
              <p class="gallery__text">{{item.text}}</p>
              <a :href="item.url" class="link link--wrap" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="template__row-2 services">
        <h2 class="services__title title title--l2">В стоимость входит</h2>
        <ul class="services__list">
          <li class="services__item" v-for="item in development.services">
            <img src="~assets/img/check-mark.svg" alt="development-project- " class="services__img">
            <h3 class="services__item-title title" v-html="item.title"></h3>
            <p class="services__item-text" v-html="item.text"></p>
          </li>
        </ul>
      </div>
      <div class="template__promo-block promo-block">
        <div class="promo-block__wrap">
          <div class="promo-block__col-1">
            <p class="promo-block__discount">–15%</p>
            <p class="promo-block__discount-date title">до 30 июня</p>
          </div>
          <div class="promo-block__col-2">
            <p class="promo-block__title title">на ПОЛНЫЙ комплекс <br> по запуску сайта</p>
            <ul class="promo-block__list">
              <li class="promo-block__item">Разработка сайта и воронки продаж</li>
              <li class="promo-block__item">Дизайн баннеров в соцсети и КМС</li>
              <li class="promo-block__item">Настройка и запуск рекламы</li>
              <li class="promo-block__item">Процессы обработки заявок</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="template__discuss">
        <nuxt-link to="quiz" no-prefetch class="template__discuss-link link link--red">обсудить проект</nuxt-link>
        <p class="template__discuss-text">
          После обсуждения, мы составим рабочее предложение и смету проекта
        </p>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        props: {
            development: Object
        }
    };
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/components/promo-block";
</style>