<template>
  <section class="main__contacts contacts" id="contacts">
    <div class="contacts__wrapper container">
      <div class="contacts__inner">
        <div class="contacts__conditions">
          <h2 class="contacts__title title title--l1 title--decoration">СВЯЗАТЬСЯ</h2>
          <p itemprop="makesOffer" class="contacts__conditions-text">Расскажите пару слов о компании и какую задачу
            требуется решить</p>
          <address class="vcard contacts__info-wrap">
            <div class="contacts__call-link-wrapper">
              <a itemprop="telephone" class="tel contacts__call-link" href="tel:+7 707 760-09-06">+7 707
                760-09-06</a><br>
            </div>
            <div class="contacts__address">
              <p itemprop="address" class="adr street-address contacts__address-info">Алматы, ул. Ауэзова, 48, офис
                401</p>
              <div class="contacts__address-text">
                <a href="#" class="contacts__address-text-link link link--red" target="_blank" rel="noreferrer">Карта
                  проезда</a>
              </div>
            </div>
          </address>
        </div>
        <div class="contacts__question-wrapper">
          <div class="contacts__question question-form">
            <p class="question-form__title question-form__title--success">Сообщение отправлено</p>
            <form class="question-form__block" id="question_form" novalidate autocomplete="off" spellcheck="false">
              <input type="hidden" name="form" class="" value="question_form">
              <p class="question-form__title">Задать вопрос</p>

              <div class="question-form__field field is-open">
                <label class="field__label">Сообщение</label>
                <textarea name="text" class="field__input field__input--textarea"></textarea>
                <div class="field__input-bg"></div>
                <div class="field__error"></div>
              </div>

              <div class="question-form__field field is-open">
                <label class="field__label">Имя</label>
                <input type="text" name="client_name" class="field__input">
                <div class="field__input-bg"></div>
                <div class="field__error"></div>
              </div>

              <div class="question-form__field field is-open">
                <label class="field__label">Телефон</label>
                <input type="tel" name="email" class="field__input">
                <div class="field__input-bg"></div>
                <div class="field__error"></div>
              </div>

              <div class="question-form__button-wrapper">
                <button class="question-form__button button button--white">Отправить</button>
              </div>
            </form>
          </div>
          <div class="question-form__social-wrap">
            <ul class="question-form__social-items">
              <li class="question-form__social-item">
                <a href="https://t.me/ " target="_blank" rel="noreferrer"
                   class="question-form__social-item-link question-form__social-item-link--tg"></a>
              </li>
              <li class="question-form__social-item">
                <a href="https://api.whatsapp.com/send?phone= " target="_blank" rel="noreferrer"
                   class="question-form__social-item-link question-form__social-item-link--wp"></a>
              </li>
              <li class="question-form__social-item">
                <a href=" " target="_blank" rel="noreferrer"
                   class="question-form__social-item-link question-form__social-item-link--inst"></a>
              </li>
            </ul>
            <p class="question-form__text">Связаться можно по Телеграму или WhatsApp.
              Мы ответим сразу, как получим сообщение.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        data () {
            return {
                form: {
                    
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/components/contacts";
  @import "@/assets/scss/components/question-form";
  @import "@/assets/scss/components/field";
</style>