<template>
  <div class="quiz-block__slide">
    <h2 class="quiz-block__title title title--l2">{{quizTerms.title}}</h2>
    <input name="quiz_terms" type="hidden">
    <ul class="quiz-block__checkbox quiz-checkbox">
      <li class="quiz-checkbox__item" v-for="(item, index) in quizTerms.items" :key="index">
        <label class="quiz-checkbox__item-label">
          <input @click="clickOnRadio()"
                 :value="item.title"
                 v-model="radioTerms"
                 type="radio"
                 class="visually-hidden quiz-checkbox__hidden">
          <span class="quiz-checkbox__checkbox title">{{item.title}}</span>
          <span class="quiz-checkbox__circle"></span>
        </label>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
      props: {
          quizTerms: Object
      },
      data () {
        return {
            radioTerms: '',
            validQuizSlide: false
        }
      },
      methods: {
          clickOnRadio () {
              setTimeout(() => {
                  this.validQuizSlide = this.checkServices !== '';
                  this.$emit('setValidValue', this.validQuizSlide);
                  this.$emit('setSandData', {name: 'quizTerms', value: this.radioTerms});
              });
          },
      }
  }
</script>

<style scoped>

</style>