<template>
  <div class="quiz-block__slide">
    <h2 class="quiz-block__title title title--l2">{{quizCompetitors.title}}</h2>
    <p class="quiz-block__text">{{quizCompetitors.text}}</p>
    <div class="quiz-block__col-wrap">
      <div class="quiz-block__input-wrap"
           :class="{'is-valid': item.valid}"
           v-for="(item, index) in competitorsInputs">
        <input type="text"
               class="quiz-block__input input"
               :class="{'is-valid': item.valid}"
               @input="onInput($event, index)"
               @focusout="onFocusout($event, index)"
               placeholder="example.com">
        <span class="quiz-block__input-check-mark"></span>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        props: {
            quizCompetitors: Object
        },
        data () {
            return {
                competitors: ['', '', ''],
                competitorsInputs: [
                    {
                        valid: false
                    },
                    {
                        valid: false
                    },
                    {
                        valid: false
                    }
                ]
            };
        },
        methods: {
            onInput (event, index) {
              this.competitorsInputs[index].valid = event.target.value !== '';
            },
            onFocusout (event, index) {
                this.competitors[index] = event.target.value;
                this.$emit('setSandData', {name: 'quizCompetitors', value: this.competitors});
            }
        }
    };
</script>

<style scoped>

</style>