<template>
  <div class="quiz-block__slide">
    <h2 class="quiz-block__title title title--l2">{{quizServices.title}}</h2>
    <input name="quiz_services" type="hidden">
    <ul class="quiz-block__checkbox quiz-checkbox">
      <li class="quiz-checkbox__item"
          v-for="(item, index) in quizServices.items"
          @mouseenter="enterOnService(index)"
          @mouseleave="leaveOnService(index)">
        <label class="quiz-checkbox__item-label">
          <input @click="clickOnCheckbox"
                 v-model="checkServices"
                 :value="item.title"
                 type="checkbox"
                 class="visually-hidden quiz-checkbox__hidden">
          <span class="quiz-checkbox__checkbox title">{{item.title}}</span>
          <span class="quiz-checkbox__circle"></span>
        </label>
      </li>
    </ul>
    <ul class="quiz-block__hint-list">
      <li ref="serviceHint" class="quiz-block__hint-item" v-for="item in quizServices.items">{{item.hint}}</li>
    </ul>
  </div>
</template>

<script>
    export default {
        props: {
            quizServices: Object
        },
        data () {
            return {
                checkServices: [],
                validQuizSlide: false
            };
        },
        methods: {
            clickOnCheckbox () {
                setTimeout(() => {
                    this.validQuizSlide = this.checkServices.length !== 0;
                    this.$emit('setValidValue', this.validQuizSlide);
                    this.$emit('setSandData', {name: 'quizServices', value: this.checkServices});
                });
            },
            enterOnService (index) {
                this.$refs.serviceHint[index].classList.add('is-visible');
            },
            leaveOnService (index) {
                this.$refs.serviceHint[index].classList.remove('is-visible');
            },
        },
        computed: {}
    };
</script>

<style scoped>

</style>