<template>
  <div class="quiz-block__slide">
    <transition name="fade-slow" mode="out-in">
      <h2 class="quiz-block__title title title--l2" v-if="!quizSend" v-html="quizContacts.title"></h2>
      <p class="quiz-block__title title title--l2" v-if="quizSend">Сообщение отправлено</p>
    </transition>
    <div class="quiz-block__df-wrap">
      <div class="quiz-block__df-input-wrap">
        <v-select class="quiz-block__select vue-select"
                  placeholder="Как с вами связаться?"
                  :options="selectItems"
                  @input="setContactData($event, 'contact')"></v-select>
        <span class="quiz-block__input-check-mark"></span>
      </div>
      <div class="quiz-block__df-input-wrap"
           v-for="(item, index) in contactsInputs" :key="index">
        <input name="quiz_name"
               :type="item.type"
               class="quiz-block__input input"
               :placeholder="item.placeholder"
               @input="onInput($event, index)"
               @focusout="setContactData($event, item.name)">
        <span class="quiz-block__input-check-mark"></span>
      </div>
    </div>
    <!--    <p class="quiz-block__discount-text title">-->
    <!--      <span></span> <br> <span class="quiz-block__discount-text&#45;&#45;red">Ваша скидка <span-->
    <!--        class="js_services_discount_num">0</span>% на комплекс услуг</span>-->
    <!--    </p>-->
  </div>
</template>

<script>
    export default {
        props: {
            quizContacts: Object,
            quizSend: Boolean
        },
        data () {
            return {
                contacts: {},
                selectItems: [
                    'Позвонить в рабочее время',
                    'Написать в Телеграм',
                    'Написать в WhatsApp',
                    'Написать на почту'
                ],
                contactsInputs: [
                    {
                        name: 'name',
                        type: 'text',
                        placeholder: 'Как вас зовут',
                        reg: /^[а-яА-Яa-zA-Z]{2,40}$/,
                        obligatory: false
                    },
                    {
                        name: 'tel',
                        type: 'tel',
                        placeholder: 'Телефон',
                        reg: /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){11,14}(\s*)?$/,
                        obligatory: true
                    },
                    {
                        name: 'email',
                        type: 'email',
                        placeholder: 'Эл. почта',
                        reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                        obligatory: true
                    }
                ]
            };
        },
        methods: {
            onInput (event, index) {
                let target = event.target,
                    parent = target.parentNode;

                if (this.contactsInputs[index].reg.test(target.value)) {
                    target.classList.add('is-valid');
                    parent.classList.add('is-valid');

                    if (this.contactsInputs[index].obligatory === true) {
                        this.$emit('setValidValue', true);
                    }
                } else {
                    target.classList.remove('is-valid');
                    parent.classList.remove('is-valid');

                    if (this.contactsInputs[index].obligatory === true) {
                        this.$emit('setValidValue', false);
                    }
                }
            },
            setContactData (event, name) {
                if (name !== 'contact') {
                    this.contacts[name] = event.target.value;
                } else {
                    this.contacts[name] = event;
                }
                this.$emit('setSandData', {name: 'quizContacts', value: this.contacts});
            }
        }
    };
</script>

<style scoped>
  .fade-slow-enter-active, .fade-slow-leave-active{
    transition: opacity 1s;
  }

  .fade-slow-enter, .fade-slow-leave-to
  {
    opacity: 0;
  }
</style>