<template>
  <div class="quiz-block__slide">
    <h2 class="quiz-block__title title title--l2">{{quizOccupation.title}}</h2>
    <textarea name="quiz_occupation"
              class="quiz-block__textarea input"
              placeholder="Расскажите кратко, чем занимается компания и какие задачи ставятся перед сайтом."
              @input="inputOnTextarea($event)"
              @focusout="focusoutOnTextarea($event)"></textarea>
  </div>
</template>

<script>
  export default {
      props: {
          quizOccupation: Object
      },
      data() {
        return {
            validQuizItem: false,
        }
      },
      methods: {
          inputOnTextarea (e) {
              this.validQuizItem = e.target.value !== '';
              this.$emit('setValidValue', this.validQuizItem);
          },
          focusoutOnTextarea (e) {
              this.$emit('setSandData', {name: 'quizOccupation', value: e.target.value});
          }
      },
  }
</script>

<style scoped>

</style>