<template>
  <section class="page-wrapper__sticky sticky" :class="{'is-open' : sticky}">
    <div class="sticky__wrap">
      <div class="sticky__col-1">
        <div class="sticky__logo-wrap">
          <a href="#" v-scroll-to="'#title-block'">
            <img src="~assets/img/logo.svg" alt="goBig logo" class="sticky__logo">
          </a>
        </div>
        <ul class="sticky__nav">
          <li class="sticky__nav-item">
            <a href="#" v-scroll-to="'#development'" class="sticky__nav-link link link--white title">Разработка сайтов</a>
          </li>
          <li class="sticky__nav-item">
            <a href="#" v-scroll-to="'#promotion'" class="sticky__nav-link link link--white title">Интернет-реклама</a>
          </li>
          <li class="sticky__nav-item">
            <a href="#" v-scroll-to="'#marketing'" class="sticky__nav-link link link--white title">Маркетинг</a>
          </li>
          <li class="sticky__nav-item">
            <a href="#" v-scroll-to="'#recommendations'" class="sticky__nav-link link link--white title">Рекомендации</a>
          </li>
        </ul>
      </div>
      <div class="sticky__col-2">
        <p class="sticky__text">свяжитесь с нами</p>
        <a :href="`tel:contacts.tel`" class="sticky__tel link link--white">{{contacts.tel}}</a>
        <ul class="sticky__soc">
          <li class="sticky__soc-item">
            <a :href="`https://t.me/${contacts.telegram}`" class="sticky__soc-link sticky__soc-link--tg" target="_blank"></a>
          </li>
          <li class="sticky__soc-item">
            <a :href="`https://api.whatsapp.com/send?phone=${contacts.whatsapp}`" class="sticky__soc-link sticky__soc-link--wpp" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
      props: {
        contacts: Object
      },
      data() {
          return {
            sticky: false
          }
      },
      mounted () {
          window.addEventListener('scroll', this.stickyOpen);
      },
      methods: {
          stickyOpen() {
            this.sticky = window.scrollY > 800;
          }
      }
  }
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/components/sticky";
</style>