<template>
  <main class="page-wrapper__main main">
    <app-sticky-header :contacts="contacts"/>
    <app-title-block :contacts="contacts"/>
    <app-development :development="development"/>
    <app-promotion :promotion="promotion"/>
    <app-marketing :marketing="marketing"/>
    <app-recommendation :recommendation="recommendation"/>
    <app-contacts/>
  </main>
</template>

<script>
    import appTitleBlock     from '@/components/MainTitle';
    import appDevelopment    from '@/components/MainDevelopment';
    import appPromotion      from '@/components/MainPromotion';
    import appMarketing      from '@/components/MainMarketing';
    import appStickyHeader   from '@/components/StickyHeader';
    import appContacts       from '@/components/MainContacts';
    import appRecommendation from '@/components/MainRecommendation';

    export default {
        head: {
            title: 'BIG — разработка сайтов, интернет-реклама и маркетинг в Алматы',
            meta: [
                {hid: 'description', name: 'description', content: 'Разработка сайтов Алматы'}
            ]
        },
        components: {
            appTitleBlock,
            appDevelopment,
            appMarketing,
            appPromotion,
            appStickyHeader,
            appRecommendation,
            appContacts,
        },
        // async asyncData ({error, $axios}) { // Обязательно должен что то вернуть
            // try {
                // const development1 = await $axios.$get(`http://127.0.0.1:8000/user`);
                // const marketing = await $axios.$get(`http://localhost:3004/marketing`);
                // const promotion = await $axios.$get(`http://localhost:3004/promotion`);
                // console.log(development1);
                // return {development1/*, marketing, promotion*/};
            // } catch (e) {
            //     error(e);
            // }
        // },
        async fetch ({store, error}) { // Не должен ничего возвращать
            try {
                if (Object.keys(store.getters['contacts/CONTACTS']).length === 0) {
                    await store.dispatch('contacts/GET_CONTACTS_FROM_API');
                }
                if (!store.getters['LOADED']) {
                    await store.dispatch('GET_INDEX_PAGE_DATA_FROM_API');
                }
            } catch (e) {
                error(e);
            }
        },
        data () {
            return {
                setAsyncData: false
            };
        },
        computed: {
            contacts () {
                return this.$store.getters['contacts/CONTACTS'];
            },
            development () {
                return this.$store.getters['DEVELOPMENT'];
            },
            marketing () {
                return this.$store.getters['MARKETING'];
            },
            promotion () {
                return this.$store.getters['PROMOTION'];
            },
            recommendation () {
                return this.$store.getters['RECOMMENDATION'];
            }
        },
        methods: {}
    };
</script>

<style>

</style>