<template>
  <main class="page-wrapper__main main">
    <section class="main__quiz quiz">
      <div class="quiz__wrap container">
        <div class="quiz__title-block">
          <app-header :contacts="contacts"/>
          <h1 class="quiz__title title title--l1" v-html="quiz.title"></h1>
        </div>
        <div class="quiz__col-1 quiz-menu">
          <div class="quiz-menu__row-1">
            <div class="quiz-menu__logo-wrap">
              <nuxt-link to="/" no-prefetch>
                <img src="~assets/img/logo.svg" alt="goBig logo" class="quiz-menu__logo">
              </nuxt-link>
            </div>
            <p class="quiz-menu__logo-text">
              веб-разработка <br>
              интернет-реклама <br>
              маркетинг
            </p>
          </div>
          <div class="quiz-menu__row-2">
            <div class="quiz-menu__text-wrap">
              <h1 class="quiz-menu__title title title--l1" v-html="quiz.title"></h1>
              <p class="quiz-menu__text">{{quiz.text}}</p>
            </div>
          </div>
        </div>
        <div class="quiz__col-2 quiz-block">
          <form class="quiz-block__form" novalidate spellcheck="false" autocomplete="off">
            <div class="quiz-block__row-1">
              <ul class="quiz-block__numbering-list">
                <li class="quiz-block__numbering-item"
                    v-for="item in numberingList"
                    :class="{'is-active': item.current}">
                  {{item.title}}
                </li>
              </ul>
              <div class="quiz-block__slider">
                <transition key="fade" name="fade" mode="out-in">
                  <keep-alive :key="1" v-if="currentQuizItem === 1">
                    <app-quiz-services
                        @setValidValue="setValidValue"
                        @setSandData="setSandData"
                        :quizServices="quiz.services"/>
                  </keep-alive>
                  <keep-alive :key="2" v-if="currentQuizItem === 2">
                    <app-quiz-occupation
                        @setValidValue="setValidValue"
                        @setSandData="setSandData"
                        :quizOccupation="quiz.occupation"/>
                  </keep-alive>
                  <keep-alive :key="3" v-if="currentQuizItem === 3">
                    <app-quiz-competitors
                        @setSandData="setSandData"
                        :quizCompetitors="quiz.competitors"/>
                  </keep-alive>
                  <keep-alive :key="4" v-if="currentQuizItem === 4">
                    <app-quiz-terms
                        @setSandData="setSandData"
                        @setValidValue="setValidValue"
                        :quizTerms="quiz.terms"/>
                  </keep-alive>
                  <keep-alive :key="5" v-if="currentQuizItem === 5">
                    <app-quiz-contacts
                        :quizSend="quizSend"
                        @setSandData="setSandData"
                        @setValidValue="setValidValue"
                        :quizContacts="quiz.contacts"/>
                  </keep-alive>
                </transition>
              </div>
            </div>
            <div class="quiz-block__row-2">
              <div class="quiz-block__btn-wrap">
                <button type="button"
                        class="quiz-block__btn-next title"
                        :disabled="btnDisabled"
                        @click="nextQuizItem()"
                        v-if="!btnSendVisible">
                  Продолжить
                </button>
                <button type="submit"
                        class="quiz-block__btn-next quiz-block__btn-next--submit title"
                        :disabled="btnDisabled"
                        @click.stop.prevent="sendQuizForm()"
                        v-if="btnSendVisible">отправить заявку
                </button>
                <button type="button"
                        class="quiz-block__btn-prev"
                        @click="prevQuizItem"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
    import appHeader          from '@/components/Header';
    import appQuizServices    from '@/components/QuizServices';
    import appQuizOccupation  from '@/components/QuizOccupation';
    import appQuizCompetitors from '@/components/QuizCompetitors';
    import appQuizTerms       from '@/components/QuizTerms';
    import appQuizContacts    from '@/components/QuizContacts';

    export default {
        components: {
            appHeader,
            appQuizServices,
            appQuizOccupation,
            appQuizCompetitors,
            appQuizTerms,
            appQuizContacts
        },
        async fetch ({store, error}) {
            try {
                if (Object.keys(store.getters['contacts/CONTACTS']).length === 0) {
                    await store.dispatch('contacts/GET_CONTACTS_FROM_API');
                }
                if (Object.keys(store.getters['quiz/QUIZ']).length === 0) {
                    await store.dispatch('quiz/GET_QUIZ_PAGE_DATA_FROM_API');
                }
            } catch (e) {
                error(e);
            }
        },
        data () {
            return {
                quizSend: false,
                sendData: {},
                currentQuizItem: 1,
                quizItems: {
                    1: {
                        valid: false,
                        sendBtn: false
                    },
                    2: {
                        valid: false,
                        sendBtn: false
                    },
                    3: {
                        valid: true,
                        sendBtn: false
                    },
                    4: {
                        valid: false,
                        sendBtn: false
                    },
                    5: {
                        valid: false,
                        sendBtn: true
                    }
                },
                numberingList: [
                    {
                        number: 1,
                        title: '01',
                        current: true
                    },
                    {
                        number: 2,
                        title: '02',
                        current: false
                    },
                    {
                        number: 3,
                        title: '03',
                        current: false
                    },
                    {
                        number: 4,
                        title: '04',
                        current: false
                    },
                    {
                        number: 5,
                        title: '05',
                        current: false
                    }
                ]
            };
        },
        methods: {
            setValidValue (validValue) {
                this.quizItems[`${this.currentQuizItem}`].valid = validValue;
            },
            nextQuizItem () {
                this.currentQuizItem++;
                this.currentNumbering();
            },
            prevQuizItem () {
                this.currentQuizItem--;
                this.currentNumbering();
            },
            currentNumbering () {
                for (let item of this.numberingList) {
                    item.current = item.number === this.currentQuizItem;
                }
            },
            setSandData (data) {
                this.sendData[data.name] = data.value;
            },
            sendQuizForm() {
                this.$axios.$post(`${this.$axios.defaults.baseURL}/postQuiz`, this.sendData)
                .then(() => {
                    this.quizSend = true;
                    setTimeout(() => {
                        this.$router.push({name: 'index'})
                    }, 5000)
                });
            }
        },
        computed: {
            contacts () {
                return this.$store.getters['contacts/CONTACTS'];
            },
            btnDisabled () {
                return !this.quizItems[`${this.currentQuizItem}`].valid;
            },
            quiz () {
                return this.$store.getters['quiz/QUIZ'];
            },
            btnSendVisible () {
                return this.quizItems[`${this.currentQuizItem}`].sendBtn;
            }
        }
    };
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/components/quiz";
  @import "@/assets/scss/components/quiz-menu";

  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
  {
    opacity: 0;
  }
</style>