//========================================
//Цвет шрифта
$c-text: #546e7a;
$c-text-dark: #A9B6BC;
$c-title: #263238;

//Цвета фона
$c-main-red: #cc0033;
$c-main-gray: #ECEFF1;
$c-main-white: #ffffff;
$c-main-dark-blue: #263238;

//Толщина шрифта
$fw-light: 300;
$fw-norm: 400;
$fw-medium: 500;
$fw-bold: 700;

//Межстрочный отступ
$lh-for-big: 1;
$lh-for-medium: 1.2;
$lh-for-small: 1.3;

//Горизонтальный внутренний отступ
$hor-indent-b: 60px;
$hor-indent-n: 40px;
$hor-indent-s: 20px;

//Max-width
$max-width: 1600px;

//Шаг шрифта
$fz-title-1: 64px;
$fz-title-2: 54px;
$fz-title-3: 44px;
$fz-title-4: 36px;
$fz-title-5: 24px;
$fz-text-1: 20px;
$fz-text-2: 18px;
$fz-7: 12px;

$oswald: Oswald, sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
