.banner{
  padding: 30px;
  background-color: $c-main-gray;

  &--dark{
    background: #37474F;

    .banner{
      &__title{
        color: #fff;
      }

      &__item{
        color: #B0BEC5;
      }
    }
  }

  &__title{
    color: $c-title;
    font-size: 24px;
  }

  &__list{
    margin-top: 25px;
  }

  &__item{
    padding-left: 12px;
    position: relative;

    &::before{
      content: '•';
      position: absolute;
      left: 0;
      color: $c-main-red;
    }

    & + &{
      margin-top: 5px;
    }
  }
}