.button{
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  padding: 0 20px 2px;
  border-radius: 20px;
  outline: none;
  align-items: center;
  line-height: 1;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;

  &.load{
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url('/img/loader.svg');
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    cursor: default;
    pointer-events: none;
  }

  &:hover{
    color: $c-main-red;
  }
}

.button--gray{
  background: #37474F;
}

.button--red{
  background: #CC0033;

  &:hover{
    color: $c-main-red;
    background: $c-main-white;
  }
}

.button--services{
  background: #CC0033;

  &:hover{
    color: #fff;
    background: #ae032c;
  }
}

.button--discuss{
  padding: 25px 55px;
  border-radius: 30px;
  font-family: Oswald, sans-serif;
  background: #CC0033;

  &:hover{
    color: #fff;
    background: #ae032c;
  }
}

.button--white{
  background: $c-main-white;
  color: $c-main-dark-blue;
}
