.gallery{
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 770px;
    margin-left: auto;
  }

  &__item{
    position: relative;
    width: 47%;

    &:nth-child(n + 3){
      margin-top: 40px;
    }
  }

  &__img-wrap{
    padding-bottom: 100%;
    background: #B0BEC5;
  }

  &__img{}

  &__img-text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #263238;
    font-family: $oswald;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
  }

  &__text{
    margin-top: 20px;
    font-size: 16px;
  }

  @media all and (max-width: 1020px){
    &__list{
      margin-top: 50px;
      margin-left: 0;
      max-width: 100%;
    }
  }

  @media all and (max-width: 550px){
    &__text{
      margin-top: 10px;
      font-size: 14px;
    }

    &__item{
      &:nth-child(n + 3){
        margin-top: 20px;
      }
    }
  }
}