.input {
  outline: none;
  appearance: none;
  box-shadow: none;
  background-color: #ECEFF1;
  border-radius: 3px;
  color: $c-text;
  width: 100%;
  padding: 0 20px;
  border: 1px solid transparent;
  
  &::-moz-placeholder{
    color: #546E7A;
  }

  &::-webkit-input-placeholder{
    color: #546E7A;
  }

  &:hover{
    border: 1px solid #CFD8DC;
  }

  &:focus{
    border: 1px solid #90A4AE;
  }
}