.link{
  transition: 0.1s;
  outline: none;

  &--wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--white{
    display: inline-block;
    color: #fff;

    &:hover, &:focus, &.is-active{
      color: $c-main-red;
    }

    &:active{
      transform: translateY(1px);
    }
  }

  &--red{
    display: inline-block;
    color: $c-main-red;

    &:hover, &:focus{
      color: #FF3E6E;
    }

    &:active{
      transform: translateY(1px);
    }
  }

  &--text{
    display: inline-block;
    color: #546E7A;

    &:hover, &:focus{
      color: $c-main-red;
    }

    &:active{
      transform: translateY(1px);
    }
  }
}