.page-wrapper{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: $lh-for-small;
  color: $c-text;
  min-width: 320px;

  &__main{
    overflow: hidden;
  }

  @media all and (max-width: 800px){
    font-size: 16px;
  }

  @media all and (max-width: 550px){
    font-size: 12px;
  }
}