.quiz-block {
  &__row-1 {
    padding: 50px 80px;
    //max-width: 1000px;
    //width: 100%;
  }

  &__numbering-list {
    display: flex;
  }

  &__numbering-item {
    font-family: $oswald;
    font-size: 14px;
    color: #B0BEC5;
    transition: 0.3s;

    &.is-active {
      color: $c-main-red;
    }

    & + & {
      margin-left: 16px;
    }
  }

  &__form {
    height: 100%;
  }

  &__slider {}

  &__slide {}

  &__title {
    margin-top: 30px;
  }

  &__checkbox {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 650px;
  }

  &__text {
    margin-top: 30px;
    max-width: 530px;
  }

  &__row-2 {
    padding: 50px 80px;
    position: relative;
    background-color: $c-main-gray;
    min-height: 100%;

    &::before {
      content: '';
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 100vh;
      background-color: $c-main-gray;
    }
  }

  &__hint-list {
    position: relative;
    margin-top: 30px;
    max-width: 600px;
    height: 60px;
  }

  &__hint-item {
    position: absolute;
    background-color: #fff;
    opacity: 0;
    z-index: 0;
    transition: 0.2s;

    &.is-visible {
      opacity: 1;
      z-index: 100 !important;
    }

    &.is-open {
      opacity: 1;
      z-index: 5;
    }
  }

  &__btn-wrap {
    display: flex;
  }

  &__btn-next {
    position: relative;
    padding: 1px 20px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    max-width: 320px;
    width: 100%;
    cursor: pointer;
    height: 60px;
    background-color: $c-main-red;
    border-radius: 3px;
    transition: 0.3s;
    outline: none;
    
    &:hover{
      background-color: #AD002B;
    }

    &::before {
      content: '';
      position: absolute;
      right: 20px;
      display: block;
      width: 15px;
      height: 15px;
      background-image: url('~assets/img/arrow-r.svg');
      background-repeat: no-repeat;
      background-size: 15px 15px;
    }

    &.is-hidden {
      display: none !important;
    }

    &:disabled {
      background-color: #B0BEC5;
      cursor: not-allowed;
    }
  }

  &__btn-prev {
    position: relative;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    background-color: #DFE5E9;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    &[aria-disabled="true"]{
      display: none!important;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('~assets/img/arrow-l-b.svg');
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: center;
    }
  }

  &__textarea {
    margin-top: 50px;
    max-width: 500px;
    height: 200px;
    padding: 20px;
    resize: none;
    font-size: 18px;

    &.is-valid{
      background-color: #fff;
      border: 1px solid #90A4AE;
    }
  }

  &__col-wrap {
    margin-top: 30px;
    max-width: 320px;
  }

  &__df-wrap {
    max-width: 650px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__df-input-wrap {
    position: relative;
    width: 49%;

    &.is-valid {
      .quiz-block {
        &__input-check-mark {
          transform: translateY(-50%) scale(1);
        }
      }
    }

    &:nth-child(n + 3) {
      margin-top: 2%;
    }
  }

  &__input-wrap {
    position: relative;

    & + & {
      margin-top: 10px;
    }

    &.is-valid {
      .quiz-block {
        &__input-check-mark {
          transform: translateY(-50%) scale(1);
        }
      }
    }
  }

  &__input {
    height: 60px;
    padding-right: 40px;
    
    &.is-valid{
      background-color: #fff;
      border: 1px solid #90A4AE;
    }
  }

  &__input-check-mark {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    background-image: url('~assets/img/check-mark.svg');
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    transition: 0.4s;
  }

  &__prompt-list {
    display: flex;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
  }

  &__prompt-item {
    display: none;

    &.is-visible {
      display: block;
    }
  }

  &__discount-text{
    color: #263238;
    max-width: 650px;
    margin-top: 30px;

    &--red{
      color: $c-main-red;
    }
  }

  &__select{
    height: 60px;
  }

  @media all and (max-width: 1250px) {
    &__row-1{
      padding: 40px;
    }

    &__row-2{
      padding: 40px;
    }

    &__prompt-item {
      font-size: 14px;
    }
  }

  @media all and (max-width: 1020px) {
    &__row-2{
      padding: 0 40px 40px;
      background-color: #fff;
    }
  }

  @media all and (max-width: 700px) {
    &__row-1{
      padding: 20px 15px;
    }

    &__row-2{
      padding: 0 15px 50px;
    }

    &__title{
      margin-top: 20px;
    }

    &__checkbox{
      margin-top: 20px;
    }

    &__hint-list{
      display: flex;
      margin-top: 20px;
      height: 70px;
    }

    &__hint-item{
      font-size: 14px;
      
      &:first-child{
        position: relative;
      }
    }

    &__textarea{
      height: 160px;
    }

    &__prompt-list{
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }

    &__prompt-item{
      font-size: 18px;
    }

    &__btn-wrap{
      flex-wrap: wrap;
    }

    &__btn-next{
      width: calc(100% - 70px);
      max-width: 100%;
    }

    &__textarea {
      margin-top: 20px;
      max-width: 100%;
      font-size: 16px;
    }

    &__input{
      font-size: 16px;
    }

    &__text{
      margin-top: 10px;
      font-size: 16px;
    }

    &__col-wrap{
      margin-top: 20px;
      max-width: 100%;
    }

    &__df-wrap{
      margin-top: 20px;
    }

    &__df-input-wrap{
      width: 100%;

      & + &{
        margin-top: 10px;
      }
    }

    &__discount-text{
      margin-top: 20px;
      font-size: 14px;
    }
  }
}