.quiz-checkbox {
  &__item {
    width: 49.2%;
    height: 60px;

    &:nth-child(n + 3) {
      margin-top: 1.6%;
    }
  }

  &__item-label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
  }

  &__hidden {
    &:checked {
      & ~ .quiz-checkbox {
        &__checkbox {
          color: #fff;

          &::before {
            width: 100%;
          }
        }

        &__circle{
          &::before{
            transform: scale(1);
          }
        }
      }
    }
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    background-color: $c-main-gray;
    border-radius: 3px;
    transition: 0.3s;
    height: 100%;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $c-main-dark-blue;
      transition: 0.2s;
      border-radius: 3px;
      z-index: -1;
    }
  }

  &__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;

    &::before{
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url('~assets/img/check-mark.svg');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      transition: 0.4s;
      transform: scale(0);
    }
  }

  @media all and (max-width: 1250px) {
    font-size: 16px;
  }

  @media all and (max-width: 700px) {
    font-size: 18px;

    &__item{
      width: 100%;

      & + &{
        margin-top: 10px;
      }
    }
  }

  @media all and (max-width: 350px) {
    font-size: 16px;
  }
}