.services{
  position: relative;
  max-width: 1270px;
  padding-bottom: 60px;

  //&::before{
  //  content: '';
  //  position: absolute;
  //  left: 0;
  //  bottom: 0;
  //  height: 10px;
  //  width: 100%;
  //  background-color: $c-main-red;
  //}

  &--dark{
    .services{
      &__title{
        color: #fff;
      }

      &__item-title{
        color: #fff;
      }

      &__item-text{
        color: #CFD8DC;
      }
    }
  }

  &__title{}

  &__list{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__item{
    width: 260px;

    & + &{
      margin-left: 20px;
    }
  }

  &__img{
    width: 30px;
  }

  &__item-title{
    margin-top: 15px;
    font-size: 18px;
    color: $c-title;
  }

  &__item-text{
    margin-top: 20px;
  }

  @media all and (max-width: 1200px){
    padding-bottom: 0;

    &::before{
      display: none;
    }

    &__list{
      flex-wrap: wrap;
      position: relative;
      padding-bottom: 40px;
      background-color: $c-main-gray;

      &::before, &::after{
        content: '';
        position: absolute;
        top: 0;
        width: 30px;
        height: 100%;
        background-color: $c-main-gray;
      }

      &::before{
        left: -30px;
      }

      &::after{
        right: -30px;
      }
    }

    &--dark{
      .services{
        &__list{
          background-color: #37474F;

          &::before, &::after{
            background-color: #37474F;
          }
        }
      }

      &__item-text{
        color: #B0BEC5;
      }
    }

    &__item-title{
      margin-top: 0;
    }

    &__img{
      display: none;
    }

    &__item{
      margin-top: 30px;
      width: 48%;

      & + &{
        margin-left: 0;
      }
    }
  }

  @media all and (max-width: 550px){
    &__list{
      margin-top: 20px;
    }

    &__title{
      text-align: center;
    }

    &__item{
      margin-top: 20px;
    }

    &__item-title{
      font-size: 14px;
    }

    &__item-text{
      margin-top: 10px;
    }
  }
}