.template{
  padding-top: 100px;
  overflow: hidden;

  &--dark{
    background-color: $c-main-dark-blue;

    .template{
      &__title{
        color: #fff;
      }

      &__text{
        color: #CFD8DC;
      }

      &__discuss-text{
        color: #CFD8DC;
      }
    }
  }

  &__wrap{}

  &__row-1{
    display: flex;
  }

  &__col-1{
    width: 350px;
    flex-shrink: 0;
  }

  &__title{}

  &__text{
    margin-top: 50px;
  }

  &__banner{
    margin-top: 40px;
  }

  &__option-1{
    margin-top: 80px;
    height: 160px;
    background-color: $c-main-gray;
    max-width: 320px;
  }

  &__option-2{
    margin-top: 40px;
  }

  &__option-2-link{
    text-transform: uppercase;
    font-family: $oswald;
  }

  &__col-2{
    padding-left: 65px;
    width: 920px;
  }

  &__row-2{
    margin-top: 70px;
  }

  &__discuss{
    padding: 50px 20px;
    display: none;
  }

  &__discuss-link{
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $oswald;
  }

  &__discuss-text{
    max-width: 270px;
    margin: 20px auto 0;
    text-align: center;
    font-size: 14px;
  }

  @media all and (max-width: 1200px){
    padding-top: 70px;

    &__col-2{
      padding-left: 30px;
    }
  }

  @media all and (max-width: 1020px){
    &__row-1{
      flex-wrap: wrap;
    }

    &__col-1{
      width: 100%;
    }

    &__col-2{
      padding-left: 0;
      width: 100%;
    }

    &__option-1{
      display: none;
    }

    &__option-2{
      display: none;
    }

    &__text{
      margin-top: -5px;
      margin-left: 240px;
    }

    &__discuss{
      display: block;
    }
  }

  @media all and (max-width: 800px){
    padding-top: 40px;

    &__text{
      margin-left: 180px;
    }

    &__row-2{
      margin-top: 50px;
    }
  }

  @media all and (max-width: 550px){
    &__text{
      margin-left: 120px;
    }

    &__discuss-text{
      font-size: 12px;
      max-width: 250px;
    }
  }
}