.title{
  position: relative;
  text-transform: uppercase;
  font-weight: $fw-norm;
  font-family: $oswald;
  line-height: 1.5;
  margin: 0;

  &--l1{
    font-size: 48px;
    color: #263238;
  }

  &--l2{
    color: #263238;
    font-size: 36px;
  }

  &--decoration{
    padding-bottom: 20px;

    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100px;
      display: block;
      background-color: $c-main-red;
    }

    &-center{
      &::before{
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @media all and (max-width: 800px){
    &--l1{
      font-size: 36px;
    }

    &--decoration{
      padding-bottom: 15px;

      &::before{
        width: 70px;
      }
    }
  }

  @media all and (max-width: 550px){
    &--l1{
      font-size: 24px;
    }

    &--l2{
      font-size: 24px;
    }

    &--decoration{
      &::before{
        height: 2px;
        width: 50px;
      }
    }
  }
}